{% macro service_layout(name, namespace, ports) %}
<pre>
{% if ports %}
apiVersion: v1
kind: Service
metadata:
  name: {{name}}
  namespace: {{namespace}}
  labels:
    app: {{name}}
spec:
  ports:
 {% for i in ports %}
  - port: {{ i }}
    name: {{ name }}{{ i }}
    protocol: TCP
    targetPort: {{ i }}
  {% endfor %}

  clusterIP: None
  selector:
    app: {{name}}
---
{% endif %}
</pre>
{% endmacro %}
{% macro statefulset_layout(name, namespace, image, command, environment, label, volumes, depends, applabel) %}
<pre>
kind: StatefulSet
apiVersion: apps/v1beta1
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  serviceName: {{ name }}
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ name }} 
      {% if applabel %}
        applabel: {{ applabel }}
      {% endif %}
      {% if label or depends %}
      annotations:
      {% if label %}
      {% for i in label %}
	{{ i[0] }}: "{{ i[1] }}"
      {% endfor %}
      {% endif %}
      {% if depends %}
        pod.beta.kubernetes.io/init-containers: '[
            {
                "name": "initall",
                "image": "daocloud.io/weakiwi/nslookup",
                "args": ["{{ depends|array2string }}"]
            }
        ]
      {% endif %}
      {% endif %}
    spec:
      containers:
      - name: {{ name }}
        imagePullPolicy: IfNotPresent
        image: {{ image }}
	{% if command %}
	command: ["{{ command }}"]
	{% endif %}
        {% if volumes[1] %}
        {% for i in volumes[1] %}
	volumeMounts:
	- name: {{ name }}
	  mountPath: "{{ i }}"
	{% endfor %}
	{% endif %}
        {% if environment %}
	env:
	{% for i in environment %}
	- name: {{ i }}
	  value: "{{ environment[i] }}"
	{% endfor %}
	{% endif %}
        {% if volumes[0]  %}
      volumes:
      - name: {{ name }}
        persistentVolumeClaim:
          claimName: {{ volumes[0] }}
      {% endif %}
---
</pre>
{% endmacro %}
{% macro pvc_layout(pvc, namespace, storage) %}
<pre>
{% if pvc %}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ pvc }}
  namespace: {{ namespace }}
  annotations:
    volume.beta.kubernetes.io/storage-class: portworx
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ storage }}
---
{% endif %}
</pre>
{% endmacro %}
{% macro volumes_layout(name, pvc) %}
<pre>
      volumes:
      - name: {{ name  }}
        persistentVolumeClaim:
          claimName: {{ pvc }}
</pre>
{% endmacro %}
{% macro volumemounts_layout(name, path) %}
<pre>
        volumeMounts:
        - name: {{ name }}
          mountPath: "{{ path }}"
</pre>
{% endmacro %}
{% macro namespace_layout(namespace) %}
<pre>
kind: Namespace
apiVersion: v1
metadata:
  name: {{ namespace }}
  annotations:
    net.beta.kubernetes.io/network-policy: |
      {
        "ingress": {
          "isolation": "DefaultDeny"
        }
      }
---
</pre>
{% endmacro %}
{% macro networkpolicy_layout(namespace, applabel) %}
<pre>
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ applabel }}
  namespace: {{ namespace }}
spec:
  podSelector:
    matchExpressions:
      - {key: inns, operator: In, values: ["{{ applabel }}"]}
  ingress: 
    - from:
        - podSelector:
             matchExpressions:
               - {key: inns, operator: In, values: ["{{ applabel }}"]}
---
</pre>
{% endmacro %}
